@import url('./main-layout.css');
@import url('./views/proveedores-view.css');
@import url('./views/medicamentos-view.css');
@import url('./views/farmacias-view.css');
@import url('./views/productos-view.css');
@import url('./views/movimientos-view.css');
@import url('@fontsource/open-sans/index.css');    html {
      --lumo-border-radius-s: 1px;
      --lumo-border-radius-m: 2px;
      --lumo-border-radius-l: 4px;
--lumo-font-family: "Open Sans", sans-serif;
    }

    [theme~="dark"] {
      --lumo-base-color: rgba(0, 40, 85, 1);
      --lumo-primary-color: rgba(0, 240, 190, 1);
      --lumo-primary-color-50pct: rgba(0, 240, 190, 0.5);
      --lumo-primary-color-10pct: rgba(0, 240, 190, 0.1);
      --lumo-success-color: hsl(145, 78%, 32%);
      --lumo-success-color-50pct: hsla(145, 78%, 32%, 0.5);
      --lumo-success-color-10pct: hsla(145, 78%, 32%, 0.1);
      --lumo-body-text-color: hsla(214, 0%, 98%, 0.9);
      --lumo-primary-text-color: rgb(137, 183, 235);

    }
